# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Raw / generated data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
models/*
!models/.gitkeep